ion-content{
    --padding-top: 130px;
}

.answer{
    --min-height: 150px;
}

.default{
    --background: #09dff3;
}

.correct_answer_button{
    --background: rgb(11, 216, 11);
}

.wrong_answer_button{
    --background: rgb(255, 0, 106);
}

.default_text{
    opacity: 0;
}

.correct_answer_text{
    opacity: 1;
    color: rgb(11, 216, 11);
}

.wrong_answer_text{
    opacity: 1;
    color: rgb(255, 0, 106);
}

.text_default_color{
    color: black;
}

.text_clicked_color{
    color: blue;
}


