<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Food</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-grid>
      <ion-row class="ion-align-items-start">
        <ion-col class="ion-text-center answer">
            <ion-label id="answer"><div id="animate"><div *ngIf="choice == true"><h1>{{answer}}</h1></div></div></ion-label>
        </ion-col>
      </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <div class="animate__bounceIn"><ion-label><ion-label id="article" hidden="true">{{correctArticle}}</ion-label>{{word}}</ion-label></div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-end">
      <ion-col class="ion-text-center">
        <ion-button id="masculin" class="animate__bounceIn" shape="round" (click)="isCorrect('M')" (click)="displayArticle()">{{articleM}}</ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button id="feminin" class="animate__bounceIn" shape="round" (click)="isCorrect('F')" (click)="displayArticle()">{{articleF}}</ion-button>
      </ion-col>
    </ion-row>
    </ion-grid>
  <!--<div *ngIf="end === 11" class="ion-text-center">
    <ion-button  size="large" (click)="toTestResult()">Proceed</ion-button>
</div>-->
</ion-content>