<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Answers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let item of items" lines="full">
    <ion-grid>
      <ion-row class="ion-align-items-start">
        <ion-col class="ion-text-center">
          <ion-label>{{item.word}}</ion-label>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-label [ngStyle]= "item.resultBool == true? {'color': '#0bd80b'} : {'color' : '#ff006a'}">{{item.result}}</ion-label>
        </ion-col>
    </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
