<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Answers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">answers</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--<ion-row *ngFor="let word of testWords">
    <ion-col class="ion-text-center">
      {{word.word}}
    </ion-col>
  </ion-row>-->
</ion-content>
